---
import PageTitle from "../components/PageTitle.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "404";
---

<BaseLayout pageTitle={pageTitle}>
  <PageTitle
    pageTitle={`${pageTitle} Not Found`}
    className="glb-u-bg-light-yellow"
  />
  <div class="not-found-container">
    <h3>ページが見つかりません</h3>
    <a class="glb-decorated-link" href="/">トップページに戻る</a>
  </div>
</BaseLayout>

<style>
  .not-found-container {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    text-align: center;
  }

  .not-found-container > h3 {
    font-size: 2rem;
    margin-bottom: 24px;
  }

  .not-found-container > a {
    font-size: 1.5rem;
  }
</style>
