---
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import { createImageUrlBuilder } from "@sanity/image-url";
import type { SanityImageSource } from "@sanity/image-url";

import BaseLayout from "../layouts/BaseLayout.astro";
import NewsBox from "../components/NewsBox.astro";

const ARTWORK_QUERY = `*[_type == "artwork" && topPage == true]`;
const artwork = await sanityClient
  .fetch<SanityDocument[]>(ARTWORK_QUERY)
  .catch(() => []);

const { projectId, dataset } = sanityClient.config();
const urlFor = (source: SanityImageSource) =>
  projectId && dataset
    ? createImageUrlBuilder({ projectId, dataset }).image(source)
    : null;
const artworkImageUrl = artwork
  .filter((art) => art.image)
  .map((artwork) => urlFor(artwork.image)?.url())
  .filter((url): url is string => url !== null && url !== undefined);

const durationPerSlide = 10;
const totalDuration = artworkImageUrl.length * durationPerSlide;

const pageTitle = "Kumano Crow";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="background-slideshow">
    {
      artworkImageUrl &&
        artworkImageUrl.map((img, index) => (
          <div
            class={`slide slide${index + 1}`}
            style={`
            background-image: url('${img}');
            animation: fade ${totalDuration}s ${index * durationPerSlide}s infinite;
          `}
          />
        ))
    }
    <div class="hero-container page-container">
      <div class="branding-wrapper">
        <h1 class="title-font">{pageTitle}</h1>
      </div>
      <NewsBox />
    </div>
  </div>
</BaseLayout>

<style is:global>
  html,
  body {
    overflow: hidden;
    height: 100%;
  }

  .background-slideshow {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    display: flex;
  }

  .background-slideshow::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 2; /* .slideより上、.contentより下に調整 */
    background-image:
      radial-gradient(circle, rgba(255, 255, 255, 0.3) 1px, transparent 1px),
      radial-gradient(circle, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-position:
      0 0,
      2.5px 5px;
    background-size: 5px 10px;
  }
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 1;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    8% {
      opacity: 1;
    }
    45% {
      opacity: 1;
    }
    55% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .hero-container {
    padding-top: 42px;
    z-index: 3; /* 背景より前面（スライドのz-index:1やデフォルトより上に） */
  }

  .branding-wrapper {
    margin: auto;
    transform-origin: left;
  }
  .branding-wrapper h1 {
    margin-top: 32px;
    font-size: 4rem;
  }

  .branding-wrapper.is-active {
    animation: shrink 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  @keyframes shrink {
    0% {
      opacity: 0;
      transform: translateX(20vw) scaleX(1) scaleY(1) skew(-60deg);
    }
    10% {
      opacity: 1;
      transform: translateX(0) scaleX(1) scaleY(1) skew(0deg);
    }
    80% {
      transform: translateX(0) scaleX(0.3) scaleY(1.2) skew(0deg);
    }
    100% {
      transform: translateX(0) scaleX(1) scaleY(1) skew(0deg);
    }
  }
</style>

<script>
  const text = document.querySelector(".branding-wrapper");
  text?.classList.add("is-active");
</script>
