---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageTitle from "../components/PageTitle.astro";

const pageTitle = "お楽しみアプリ・配布物";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="glb-page-container">
    <PageTitle pageTitle={pageTitle} className="glb-u-bg-light-green" />
    <div class="playground-layout glb-u-mb-36">
      <p>準備中！</p>
    </div>
  </div>
</BaseLayout>

<style>
  .playground-layout {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    text-align: center;
  }
  .playground-layout > p {
    font-size: 1.6rem;
    margin-bottom: 24px;
  }
</style>
