html {
  font-size: 14px;
}

body {
  font-family: "Hiragino maru Gothic ProN W4", "Hiragino Kaku Gothic Pro",
    "Hiragino Sans", "arial", "Meiryo", "MS PGothic", sans-serif !important;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

.title-font {
  font-family: "Love Ya Like A Sister", cursive !important;
  font-weight: 400;
  font-style: normal;
}

.content{
 padding: 0 16px;
 display: flex;
 flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}