---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
import "../styles/uaplus-base.css";
const { pageTitle } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="熊野クロウのポートフォリオ。競走馬イラスト、フロントエンド寄りのエンジニア。イラスト作品や自作アプリを紹介しています。This is Kumano Crow's portfolio. I'm a front-end engineer who creates horse racing illustrations and self-made apps."
    />
    <meta
      property="og:title"
      content="熊野クロウポートフォリオ Kumano Crow Portfolio"
    />
    <meta
      property="og:description"
      content="熊野クロウのポートフォリオ。競走馬イラスト、フロントエンド寄りのエンジニア。イラスト作品や自作アプリを紹介しています。This is Kumano Crow's portfolio. I'm a front-end engineer who creates horse racing illustrations and self-made apps."
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />
    <slot />
  </body>
</html>
