---
import "../styles/uaplus-base.css";
import "../styles/melo.scss";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/melo/favicon.ico" />
    <link
      rel="apple-touch-icon"
      href="/melo/apple-touch-icon.png"
      sizes="180x180"
    />
    <link
      rel="icon"
      type="image/png"
      href="/melo/android-chrome-192x192.png"
      sizes="192x192"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="非公式ファンアートサイト。好きな重さを入力して、それって何メロディーレーンなのか計算してみよう！"
    />
    <meta property="og:title" content="それって何メロディーレーン？" />
    <meta
      property="og:description"
      content="非公式ファンアートサイト。好きな重さを入力して、それって何メロディーレーンなのか計算してみよう！"
    />
    <title>それって何メロディーレーン？</title>
  </head>
  <body>
    <div id="root">
      <slot />
    </div>
  </body>
</html>
