---
interface Props {
  title: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<section class:list={[className, "glb-u-mb-24"]}>
  <div class="subtitle-wrapper">
    <h4 class="glb-section-title">{title}</h4>
  </div>
  <div class="glb-section-paragraph">
    <slot />
  </div>
</section>
