---
interface Props {
  title: string;
  tabClass: string;
  gridClass: string;
  gridColumns?: number;
}

const { title, tabClass, gridClass, gridColumns = 4 } = Astro.props;
---

<section class="social-section glb-u-mb-24">
  <div class="glb-tab-header">
    <h3 class={tabClass}>{title}</h3>
  </div>
  <div
    class:list={["banner-grid", "glb-u-p-24", gridClass]}
    style={`--grid-cols: ${gridColumns}`}
  >
    <slot />
  </div>
</section>

<style>
  .banner-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    gap: 30px;
  }

  @media (width <= 1024px) {
    .banner-grid {
      grid-template-columns: repeat(min(var(--grid-cols), 2), 1fr);
    }
  }

  @media (width <= 600px) {
    .banner-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
